mat-form-field{
    width: 100%;
}

mat-radio-button{
    padding-right: 5px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
.radio-button {
    margin: 5px;
  }